{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.tsx", "*.css"],
      "options": { "singleQuote": false }
    }
  ]
}
